<div class="modal modal-tour position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalTour">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
  
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">Conta</h2>
        
         
          <ul class="d-grid gap-4 my-5 list-unstyled">
            <li class="d-flex gap-4">
              <svg class="bi text-muted flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"/></svg>
              <div>
                <h4 class="mb-0">Saldo</h4>             
                <h3> <span>${{ total }}</span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                  </svg>   </h3>   
                        
              </div>
            </li>
  
        
  
            <li class="d-flex gap-4">
              <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"/></svg>
              <div>
                <h5 class="mb-0">Retirada</h5>
  
                <input class="input-box"  type="text" #box2 placeholder="Digite o valor" name="userName"/>
                <button class="btn-confirm" (click)="sacar(box2.value)">Confirmar</button>
            
              </div>
            </li>         
          </ul>                  
               
          <button class type="button" class="btn btn-lg btn-bottom mt-5 w-100" data-bs-dismiss="modal">Obrigado!</button>
          
        </div>
      </div>
    </div>
  </div>
  
  
  