



<main class="main-container">
<div class="info">
    <div class="info-title">
        <h1> Viva momentos especiais com o seu novo
            CARTÃO DE CRÉDITO            
            </h1>

        <p>
            Mais de 20 milhões de pessoas já escolheram o Lisbon Bank. 
            Só falta você. Peça seu cartão de crédito e débito com pontos que não expiram e muito mais.
        </p>
        <div class="info-submit">
            <input type="text" placeholder="Seu e-mail">
            <button type="submit">Peça já o seu!</button>
        </div>
    </div>
    <div class="info-card">
        <img id="img-right" src="../../assets/bonde.jpg">
        <div class="card">
            <div class="card-title">
                <h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16">
                        <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
                    </svg>
                    <span id="the">LISBON BANK</span>
                </h2>
            </div>
            <div class="card-chip">
                <img src="../../assets/chip.png" id="chip">
            </div>
            <div class="card-footer">
                <div class="card-footer-info">
                    <p class="footer-text footer-text-big"><b>Order Number:</b></p>
                   <p id="footer-text-number">2974-1845-1838</p>                     
                
                </div>
                <div class="card-footer-date">
                    <p class="footer-text">2023</p>
                </div>
            </div>
        </div>
    </div>
</div>

</main>